[submodule "frogbot-backend"]
	path = backend
	url = https://github.com/rileycalhoun/frogbot-backend
[submodule "frogbot-dashboard"]
	path = frontend
	url = https://github.com/rileycalhoun/frogbot-dashboard